/* 

	STYLE.CSS:

*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* ----  structure ---- */ 

body {
  	margin: 0;
}

header {
	height: 250px;
	background-color: #00b8e6;
}

header > .wrapper > h1 {
  padding: 70px 0 0 0;
}

footer {
	height: 84px;
	background-color: #00b8e6;
}

.wrapper {
	width: 800px;
	margin-left: 10%;
	margin-right: 10%;	
}

/* ---- elements ---- */


header img {
	height : 250px;
  	width : 220px;
	border-radius: 20%;
	float: right;
}

/* ---- text ---- */

h1 {
	font-family : 'Noto Sans', 'sans-serif';
	font-size : 48;
	color : #8A2BE2;
}

h2 {
	font-family : 'Noto Sans', 'sans-serif';
	font-size : 24;
	color : #000000;

}

p, ul, ol {
	font-family : 'Noto Sans', 'sans-serif';
	font-size : 12;
	color : #000000;
}